body {
    width: 55rem;
    font-size: 1.3em;
    margin: 0 auto;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    background-color: #FFFFFF;
}

@media all and (max-width: 55rem) {
    body {
        width: auto;
    }
}

button {
    color: white;
    text-align: center;
    cursor: pointer;

    margin: 2px;
    padding: 5px 15px;

    border: none;
    border-radius: 3px;
}

.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px;
}

#thumbs.flex {
    justify-content: flex-start;
}


#btn-clear, #btn-all {
    font-size: 0.9em;
    order: 1;
}

#btn-clear {
    background-color: #f44336;
}

#btn-all {
    margin-left: auto;
    background-color: #008CBA;
}


.btn-tag {
    font-size: 1.05em;
    background-color: #4CAF50;

    order: 0;

    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}


.btn-tag:hover {
    background-color: green;
}

.unfocused {
    background-color: #e7e7e7;
}


.thumbnail {
    margin: 10px;
}

.thumbnail > img {
    border: 1px solid #bbb;
    border-radius: 5px;
    cursor: pointer;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.thumbnail > img:hover {
    border-color: #666;
    border-radius: 20px;
}


#image > img {
    display: block;
    width: 100%;
    height: auto;
}
