body {
    width: 35em;
    margin: 0 auto;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    background-color: #FFFFFF;
}

tr, td {
    border: 2px solid black;
    padding: 5px;
    text-align: center;
}

table {
    border-collapse: collapse;
}

form label{
    display: inline-block;
    float: left;
    clear: left;
    width: 100px;
    text-align: left;
}

form input {
    display: inline-block;
    float: left;
}
